*{    
    box-sizing: border-box;
    --background-branco: rgb(250, 250, 250);
    --font-blue: rgb(0,78,148);
    --font-red: rgb(226,20,58);
    --font-black: rgb(0,0,0);
}

body{ font-family: 'Poppins', sans-serif;}
.menu{
    position: fixed;
    width: 100px;
    display: flex;
    font-size: 20px;
}

.content{
    width: auto;
    position: relative;
    font-size: 24px;
}
.intro,.assinsting,.teaching,.events,.certificates{
    font-size: 32px;
    color: var(--font-blue);
}
a{color: var(--font-red);}
.menu__titulo{
    color: var(--font-blue);
}