body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(22, 90, 236), rgb(22, 90, 236), rgb(133, 162, 226), rgb(133, 162, 226), rgb(42, 145, 64));
    background-attachment: fixed;
    cursor: url(frame1.gif), auto;
    animation: cursor .5s linear infinite;
}

@keyframes cursor {
    0% {
        cursor: url('/photos/balloon2.cur'), auto;
    }
    50% {
        cursor: url('/photos/balloon.cur'), auto;
    }
    100% {
        cursor: url('/photos/balloon2.cur'), auto;
    }
}

header,
nav,
section {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

header h1 {
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

section h2 {
    color: rgb(161, 10, 10);
    padding-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    padding: 1rem;
    font-size: 1.5rem;
}

.image-gallery {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(200px, 5fr));
}

.image-gallery li {
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

.image-gallery img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border: 2px solid #ffffff65;
}

.image-gallery img:hover {
    border-color: #000000;
}

@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

figcaption {
    padding: 10px;
}


/* Add more CSS rules to style your portfolio as desired */